In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [19]:
# geography: Location name. (String)
# avganncount: Average annual count of cancer cases in the county. (Numeric)
# avgdeathsperyear: Average number of deaths per year in the county. (Numeric)
# target_deathrate: Number of deaths per 100k individuals in each county. (Numeric)
# medincome: Median household income for the county. (Numeric)
# popest2015: Population estimates for 2015. (Numeric)
# povertypercent: Percentage of people living in poverty. (Numeric)


# medianage: Median age of the population in the county. (Numeric)
# medianagemale: Median age of the male population in the county. (Numeric)
# medianagefemale: Median age of the female population in the county. (Numeric)

# pctnohs18_24: Percentage of people aged 18-24 who did not graduate high school. (Numeric)
# pcths18_24: Percentage of people aged 18-24 who graduated high school. (Numeric)

# pctsomecol18_24: Percentage of people aged 18-24 who attended some college. (Numeric)
# pctbachdeg18_24: Percentage of people aged 18-24 who have a bachelor's degree. (Numeric)

# pcths25_over: Percentage of people aged 25 and over who graduated high school. (Numeric)
# pctbachdeg25_over: Percentage of people aged 25 and over who have a bachelor's degree. (Numeric)

# pctemployed16_over: Percentage of people aged 16 and over who are employed. (Numeric)
# pctunemployed16_over: Percentage of people aged 16 and over who are unemployed. (Numeric)

# pctprivatecoverage: Percentage of people with private health insurance (cate)

In [54]:
new_data_cancer = data_cancer.copy()

In [ ]:
new_data_cancer = new_data_cancer.drop(['binnedinc', 'geography', 'pctsomecol18_24', 'pctemployed16_over', 'pctprivatecoveragealone'], axis=1)

In [65]:
data_cancer.columns.str.lower()

Index(['index', 'avganncount', 'avgdeathsperyear', 'target_deathrate',
       'incidencerate', 'medincome', 'popest2015', 'povertypercent',
       'studypercap', 'binnedinc', 'medianage', 'medianagemale',
       'medianagefemale', 'geography', 'percentmarried', 'pctnohs18_24',
       'pcths18_24', 'pctsomecol18_24', 'pctbachdeg18_24', 'pcths25_over',
       'pctbachdeg25_over', 'pctemployed16_over', 'pctunemployed16_over',
       'pctprivatecoverage', 'pctprivatecoveragealone', 'pctempprivcoverage',
       'pctpubliccoverage', 'pctpubliccoveragealone', 'pctwhite', 'pctblack',
       'pctasian', 'pctotherrace', 'pctmarriedhouseholds', 'birthrate'],
      dtype='object')

In [113]:
data_cancer = pd.read_csv('data/cancer_reg.csv', index_col=False)
new_columns = data_cancer.columns.str.lower()
new_data_cancer = data_cancer.copy()
new_data_cancer.columns = new_columns
new_data_cancer = new_data_cancer[['geography', 'avganncount', 'avgdeathsperyear', 'popest2015', 'medincome', 'binnedinc', 'medianage', 'medianagemale', 'medianagefemale', 'pcths25_over', 'pctbachdeg25_over', 'pctemployed16_over','pctunemployed16_over', 'pctprivatecoverage', 'pctpubliccoverage', 'povertypercent', 'studypercap']]
new_data_cancer[['county', 'state']] = new_data_cancer['geography'].str.split(',', n=1, expand=True)
new_data_cancer = new_data_cancer.drop(['geography'], axis=1)
county_col = new_data_cancer.pop('county')
state_col = new_data_cancer.pop('state')
new_data_cancer.insert(0, 'county', county_col)
new_data_cancer.insert(1, 'state', state_col)
new_data_cancer.head()

new_data_cancer.to_csv('data/cancer_reg_clean.csv', index=False)

In [114]:
new_data_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3047 entries, 0 to 3046
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   county                3047 non-null   object
 1   state                 3047 non-null   object
 2   avganncount           3047 non-null   float64
 3   avgdeathsperyear      3047 non-null   int64
 4   popest2015            3047 non-null   int64
 5   medincome             3047 non-null   int64
 6   binnedinc             3047 non-null   object
 7   medianage             3047 non-null   float64
 8   medianagemale         3047 non-null   float64
 9   medianagefemale       3047 non-null   float64
 10  pcths25_over          3047 non-null   float64
 11  pctbachdeg25_over     3047 non-null   float64
 12  pctemployed16_over    2895 non-null   float64
 13  pctunemployed16_over  3047 non-null   float64
 14  pctprivatecoverage    3047 non-null   float64
 15  pctpubliccoverage     3047 non-null   float64
 16  povertypercent        3047 non-null   float64
 17  studypercap           3047 non-null   float64
dtypes: float64(12), int64(3), object(3)
memory usage: 428.6+ KB

In [101]:
new_data_cancer.head()

,avganncount,avgdeathsperyear,popest2015,medincome,binnedinc,medianage,medianagemale,medianagefemale,pcths25_over,pctbachdeg25_over,pctemployed16_over,pctunemployed16_over,pctprivatecoverage,pctpubliccoverage,povertypercent,studypercap,county,state
0,1397.0,469,260131,61898,"(61494.5, 125635]",39.3,36.9,41.7,23.2,19.6,51.9,8.0,75.1,32.9,11.2,499.748204,Kitsap County,Washington
1,173.0,70,43269,48127,"(48021.6, 51046.4]",33.0,32.2,33.7,26.0,22.7,55.9,7.8,70.2,31.1,18.6,23.111234,Kittitas County,Washington
2,102.0,50,21026,49348,"(48021.6, 51046.4]",45.0,44.0,45.8,29.0,16.0,45.9,7.0,63.7,42.1,14.6,47.560164,Klickitat County,Washington
3,427.0,202,75882,44243,"(42724.4, 45201]",42.8,42.2,43.4,31.6,9.3,48.3,12.1,58.4,45.3,17.1,342.637253,Lewis County,Washington
4,57.0,26,10321,49955,"(48021.6, 51046.4]",48.3,47.8,48.9,33.4,15.0,48.2,4.8,61.6,44.0,12.5,0.000000,Lincoln County,Washington

In [37]:
data_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3047 entries, 0 to 3046
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    3047 non-null   int64
 1   avganncount              3047 non-null   float64
 2   avgdeathsperyear         3047 non-null   int64
 3   target_deathrate         3047 non-null   float64
 4   incidencerate            3047 non-null   float64
 5   medincome                3047 non-null   int64
 6   popest2015               3047 non-null   int64
 7   povertypercent           3047 non-null   float64
 8   studypercap              3047 non-null   float64
 9   binnedinc                3047 non-null   object
 10  medianage                3047 non-null   float64
 11  medianagemale            3047 non-null   float64
 12  medianagefemale          3047 non-null   float64
 13  geography                3047 non-null   object
 14  percentmarried           3047 non-null   float64
 15  pctnohs18_24             3047 non-null   float64
 16  pcths18_24               3047 non-null   float64
 17  pctsomecol18_24          762 non-null    float64
 18  pctbachdeg18_24          3047 non-null   float64
 19  pcths25_over             3047 non-null   float64
 20  pctbachdeg25_over        3047 non-null   float64
 21  pctemployed16_over       2895 non-null   float64
 22  pctunemployed16_over     3047 non-null   float64
 23  pctprivatecoverage       3047 non-null   float64
 24  pctprivatecoveragealone  2438 non-null   float64
 25  pctempprivcoverage       3047 non-null   float64
 26  pctpubliccoverage        3047 non-null   float64
 27  pctpubliccoveragealone   3047 non-null   float64
 28  pctwhite                 3047 non-null   float64
 29  pctblack                 3047 non-null   float64
 30  pctasian                 3047 non-null   float64
 31  pctotherrace             3047 non-null   float64
 32  pctmarriedhouseholds     3047 non-null   float64
 33  birthrate                3047 non-null   float64
dtypes: float64(28), int64(4), object(2)
memory usage: 809.5+ KB

In [80]:
data_cancer[['County', 'State']] = data_cancer['geography'].str.split(',', n=1, expand=True)
data_cancer.head()

,index,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,...,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate,County,State
0,0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",...,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831,Kitsap County,Washington
1,1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",...,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096,Kittitas County,Washington
2,2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",...,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488,Klickitat County,Washington
3,3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",...,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841,Lewis County,Washington
4,4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",...,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657,Lincoln County,Washington

In [42]:
data_cancer.iloc[:, 15:25].head()

,pctnohs18_24,pcths18_24,pctsomecol18_24,pctbachdeg18_24,pcths25_over,pctbachdeg25_over,pctemployed16_over,pctunemployed16_over,pctprivatecoverage,pctprivatecoveragealone
0,11.5,39.5,42.1,6.9,23.2,19.6,51.9,8.0,75.1,NaN
1,6.1,22.4,64.0,7.5,26.0,22.7,55.9,7.8,70.2,53.8
2,24.0,36.6,NaN,9.5,29.0,16.0,45.9,7.0,63.7,43.5
3,20.2,41.2,36.1,2.5,31.6,9.3,48.3,12.1,58.4,40.3
4,14.9,43.0,40.0,2.0,33.4,15.0,48.2,4.8,61.6,43.9

In [22]:
data_cancer.iloc[:, 1:10].where(data_cancer['pctsomecol18_24'].isnull())

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,102.000000,50.0,174.7,349.700000,49348.0,21026.0,14.6,47.560164,"(48021.6, 51046.4]"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3042,1962.667684,15.0,149.6,453.549422,46961.0,6343.0,12.4,0.000000,"(45201, 48021.6]"
3043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3045,1962.667684,52.0,175.0,453.549422,50745.0,25609.0,13.3,0.000000,"(48021.6, 51046.4]"
3046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
data_cancer.geography.unique()

array(['Kitsap County, Washington', 'Kittitas County, Washington',
       'Klickitat County, Washington', ..., 'Ford County, Kansas',
       'Franklin County, Kansas', 'Geary County, Kansas'], dtype=object)

In [25]:
data_cancer.columns

Index(['index', 'avganncount', 'avgdeathsperyear', 'target_deathrate',
       'incidencerate', 'medincome', 'popest2015', 'povertypercent',
       'studypercap', 'binnedinc', 'medianage', 'medianagemale',
       'medianagefemale', 'geography', 'percentmarried', 'pctnohs18_24',
       'pcths18_24', 'pctsomecol18_24', 'pctbachdeg18_24', 'pcths25_over',
       'pctbachdeg25_over', 'pctemployed16_over', 'pctunemployed16_over',
       'pctprivatecoverage', 'pctprivatecoveragealone', 'pctempprivcoverage',
       'pctpubliccoverage', 'pctpubliccoveragealone', 'pctwhite', 'pctblack',
       'pctasian', 'pctotherrace', 'pctmarriedhouseholds', 'birthrate'],
      dtype='object')

In [ ]:
new_cols = ['geography', 'avganncount', 'avgdeathsperyear', 'target_deathrate',

In [13]:
data_cancer.describe()

,index,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,medianage,...,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
count,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3.047000e+03,3047.000000,3047.000000,3047.000000,...,2438.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000
mean,1523.000000,606.338544,185.965868,178.664063,448.268586,47063.281917,1.026374e+05,16.878175,155.399415,45.272333,...,48.453774,41.196324,36.252642,19.240072,83.645286,9.107978,1.253965,1.983523,51.243872,5.640306
std,879.737461,1416.356223,504.134286,27.751511,54.560733,12040.090836,3.290592e+05,6.409087,529.628366,45.304480,...,10.083006,9.447687,7.841741,6.113041,16.380025,14.534538,2.610276,3.517710,6.572814,1.985816
min,0.000000,6.000000,3.000000,59.700000,201.300000,22640.000000,8.270000e+02,3.200000,0.000000,22.300000,...,15.700000,13.500000,11.200000,2.600000,10.199155,0.000000,0.000000,0.000000,22.992490,0.000000
25%,761.500000,76.000000,28.000000,161.200000,420.300000,38882.500000,1.168400e+04,12.150000,0.000000,37.700000,...,41.000000,34.500000,30.900000,14.850000,77.296180,0.620675,0.254199,0.295172,47.763063,4.521419
50%,1523.000000,171.000000,61.000000,178.100000,453.549422,45207.000000,2.664300e+04,15.900000,0.000000,41.000000,...,48.700000,41.100000,36.300000,18.800000,90.059774,2.247576,0.549812,0.826185,51.669941,5.381478
75%,2284.500000,518.000000,149.000000,195.200000,480.850000,52492.000000,6.867100e+04,20.400000,83.650776,44.000000,...,55.600000,47.700000,41.550000,23.100000,95.451693,10.509732,1.221037,2.177960,55.395132,6.493677
max,3046.000000,38150.000000,14010.000000,362.800000,1206.900000,125635.000000,1.017029e+07,47.400000,9762.308998,624.000000,...,78.900000,70.700000,65.100000,46.600000,100.000000,85.947799,42.619425,41.930251,78.075397,21.326165

In [5]:
data_avg = pd.read_csv('data/avg-household-size.csv')
data_avg.head()

,index,statefips,countyfips,avghouseholdsize,geography
0,0,2,13,2.43,"Aleutians East Borough, Alaska"
1,1,2,16,3.59,"Aleutians West Census Area, Alaska"
2,2,2,20,2.77,"Anchorage Municipality, Alaska"
3,3,2,50,3.86,"Bethel Census Area, Alaska"
4,4,2,60,2.50,"Bristol Bay Borough, Alaska"

In [17]:
data_avg.shape

(3220, 5)